* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*============================
* --- Global CSS ---
=============================*/

.btn-primary {
    color: #ffffff;
    background-color: red;
    padding: 18px 30px;
    border: none;
    border-radius: 6px;
}
/*============================
* --- Hero Section Start ---
=============================*/

#hero-section {
    padding: 20% 5%;
        max-width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('./../images/donation2.jpg'), linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }
    
    .hero-center {
        max-width: 800px;
        text-align: center;
    }
    
    .hero-center h2 {
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
}

.hero-paragraph {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 24px;
}
/* ### Hero Section Ends ### */

/*============================
* --- Donate Today Start ---
=============================*/
#donate-today {
}

/* ### Donate Today Ends ### */

/*============================
* --- Donate Plan Start ---
=============================*/
#donate-plan {
}

/* ### Donate Plan Ends ### */

/*============================
* --- Showcase Area Start ---
=============================*/
#showcase-area {
}

/* ### Showcase Area Ends ### */

/*============================
* --- Newsletter Area Start ---
=============================*/
#newsletter-area {
}

/* ### Newsletter Area Ends ### */