* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*============================
* --- Global CSS ---
=============================*/

.btn-primary {
    color: #ffffff;
    background-color: #FF5959;
    padding: 18px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.btn-primary:hover {
    box-shadow: 0px 2px 5px #888888;
}
/*============================
* --- Hero Section Start ---
=============================*/

#hero-section {
    padding: 20% 5%;
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../images/donation2.jpg'), linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0; 
    background-blend-mode: overlay;
}

.hero-center {
    max-width: 700px;
    text-align: center;
}

.hero-center h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
}

.hero-paragraph {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 24px;
}
/* ### Hero Section Ends ### */

/*============================
* --- Donate Today Start ---
=============================*/
#donate-today {
    padding-top: 70px;
    padding-bottom: 40px;
}

.top-area {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
.top-area h2 {
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.top-area p {
    color: #707070;
    line-height: 24px;

}

.box-area {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.single-box{
    padding: 70px;
    border: 1px solid #707070;
    margin: 5px 15px;
    background-color: #FAFAFA;
    border-radius: 6px;
    cursor: pointer;
}
.single-box:hover{
    background-color: #FFEEEE;
    border: 2px solid red;
}
.single-box:hover h4{
    color: #FF5959;
}
.single-box h4{
    color: #707070;
    font-size: 28px;
    font-weight: 700;
}
.box-active{
    background-color: #FFEEEE;
    border: 2px solid red;
}
.box-active h4{
    color: #FF5959;
}

.other-amout-area{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; 
}
.other-amout-area button{
    margin-top: 20px;
    
}
#other-amount{
    border: none;
    font-size: 20px;
    margin-left: 60px;
}
#other-amount:focus,
#other-amount:focus-visible,
#other-amount:active{
    border: none;
    outline: none;
}
/* ### Donate Today Ends ### */

/*============================
* --- Donate Plan Start ---
=============================*/
#donate-plan {
    padding-top: 50px;
    padding-bottom: 40px;
}

.plan-box-area{ 
    margin: 50px 100px 20px;
    display: flex;
    justify-content: center;
}

.single-plan-box{
    width: 33.33%;
    padding: 40px 15px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 6px;
}
.single-plan-box:hover {
    box-shadow: 0px 2px 15px 2px #888888;
}
.single-plan-box.cyan-box{
    background: rgba(79, 157, 166, 0.1);
}
.single-plan-box.pink-box{
    background: rgba(255, 89, 89, 0.1);
}
.single-plan-box.yellow-box{
    background: #FFF4D6;
}

.single-plan-box img{ 
    margin-bottom: 30px;
}
.single-plan-box h4{
    color: #121212;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.single-plan-box p{
    color: #121212;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}

/* ### Donate Plan Ends ### */

/*============================
* --- Showcase Area Start ---
=============================*/
#showcase-area {
    padding-top: 40px;
    padding-bottom: 50px;
}

.first-shocase,
.second-shocase{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.shocase-content-left{
    width: 60%;
    padding-right: 50px;
    padding-top: 50px;
    margin-bottom: 70px;
}
.shocase-content-right{
    width: 60%;
    padding-left: 10px;
    padding-top: 50px;
    margin-bottom: 70px;
}
.shocase-content-left h2,
.shocase-content-right h2{
    font-size: 50px;
    font-weight: 700;
    color: #121212;
}
.shocase-content-left p,
.shocase-content-right p{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    line-height: 24px;
    padding: 30px 0;
    text-align: justify;
}
.img-content{
    width: 50%;
}
.img-content img{
    height: 400px;
    width: 450px;
}

/* ### Showcase Area Ends ### */

/*============================
* --- Top News Area Start ---
=============================*/
#top-news{
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center; 
} 
#top-news .top-area{
    margin-bottom: 30px;
}
#top-news button{
    margin-top: 30px;
}
.video-news{
    display: flex; 
    justify-content: center;
    max-width: 100%; 
    align-items: center;
}
.single-youtube-video{ 
    width: 30.33%;
    padding: 15px;
}
/* ### Top News Area Ends ### */


/*============================
* --- Newsletter Area Start ---
=============================*/
#newsletter-area {
    padding-top: 70px;
    padding-bottom: 120px;
}
#newsletter-area .top-area{
    margin-bottom: 50px;
}
.newletter-box{
    background: #FFF4D6;
    max-width: 700px; 
    margin: 0 auto;
    padding: 100px;
}
.subscribe-area{
    display: flex;
    justify-content: center;
}

#email{ 
    background-color: #D9D9D9;
    padding: 18px 30px;
    border: none; 
}
#email:focus,
#email:focus-visible,
#email:active{
    border: none;
    outline: none;
}
.btn-subscribe{
    color: #ffffff;
    background-color: #FF5959;
    padding: 18px 30px;
    border: none; 
    cursor: pointer;
}

/* ### Newsletter Area Ends ### */


/*============================
* --- Footer Area Start ---
=============================*/

footer{
    background-color: #0B0D17;;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-area{
    text-align: center;
}
.footer-area p{
    color: #ffffff;
}

/* ### Footer Area Ends ### */